
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PlusJakartaSansRomanSemiBold.ttf"); font-family : "Plus Jakarta Sans"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PlusJakartaSansRomanMedium.ttf"); font-family : "Plus Jakarta Sans"; font-weight : 500;  }